In [1]:
import pandas as pd

pd.set_option("display.max_columns", 50)

In [2]:
target = pd.read_csv("../../sber_dolya_beznala.csv", sep=';')

In [3]:
target["date"] = pd.to_datetime(target["date"])
target["year"] = target["date"].dt.year
target = target.sort_values(by='date')
target = target[target["date"].dt.month == 1]
target = target.drop(labels=["date"], axis=1)
target = target.drop_duplicates(subset=["region", "year"])
target

                     region  value  year
8240   Республика Татарстан   35.6  2017
8173  Нижегородская область   38.0  2017
8174     Мурманская область   50.1  2017
8175                 Москва   44.8  2017
8176    Магаданская область   40.3  2017
...                     ...    ...   ...
189   Архангельская область   76.7  2025
188    Астраханская область   64.9  2025
187    Белгородская область   69.2  2025
186        Брянская область   64.2  2025
190        Амурская область   72.8  2025

[751 rows x 3 columns]

In [4]:
sp11 = pd.read_csv("sp11.csv")
sp11.region = sp11.region.replace({
    "г.Санкт-Петербург": "Санкт-Петербург",
    "г.Москва": "Москва",
    "Кемеровская область – Кузбасс": "Кемеровская область",
    "Республика Северная Осетия – Алания": "Республика Северная Осетия — Алания",
    "Ханты-Мансийский автономный округ – Югра": "Ханты-Мансийский автономный округ — Югра"
})

final_df = pd.merge(sp11, target, on=["region", "year"], how="inner")
final_df

,year,region,population,employable_population,employable_population_share,value
0,2017,Алтайский край,2303.6,609.6,26.5,37.4
1,2018,Алтайский край,2277.7,615.9,27.0,45.9
2,2019,Алтайский край,2250.1,619.9,27.5,50.0
3,2020,Алтайский край,2224.1,590.8,26.6,54.1
4,2021,Алтайский край,2193.0,587.3,26.8,58.0
...,...,...,...,...,...,...
552,2019,Санкт-Петербург,5546.4,1485.1,26.8,56.3
553,2020,Санкт-Петербург,5580.8,1444.8,25.9,59.2
554,2021,Санкт-Петербург,5588.5,1463.9,26.2,66.0
555,2022,Санкт-Петербург,5607.9,1403.5,25.0,68.2
556,2023,Санкт-Петербург,5600.0,1430.7,25.5,68.0

In [5]:
sp12 = pd.read_csv("sp12.csv")
sp12.region = sp12.region.replace({
    "г.Санкт-Петербург": "Санкт-Петербург",
    "г.Москва": "Москва",
    "Кемеровская область – Кузбасс": "Кемеровская область",
    "Республика Северная Осетия – Алания": "Республика Северная Осетия — Алания",
    "Ханты-Мансийский автономный округ – Югра": "Ханты-Мансийский автономный округ — Югра"
})

final_df = pd.merge(sp12, final_df, on=["region", "year"], how="inner")
final_df

,year,region,men,women,population,employable_population,employable_population_share,value
0,2017,Иркутская область,14.95,25.16,2412.4,546.7,22.7,40.8
1,2017,Кемеровская область,15.15,24.97,2702.0,677.9,25.1,36.6
2,2017,Томская область,16.38,25.86,1075.9,245.8,22.8,44.0
3,2017,Республика Бурятия,15.33,25.33,981.6,194.0,19.8,42.3
4,2017,Новосибирская область,16.04,26.09,2788.9,691.5,24.8,34.8
...,...,...,...,...,...,...,...,...
538,2023,Воронежская область,17.21,26.89,2285.3,629.8,27.6,66.9
539,2023,Владимирская область,16.04,26.24,1325.5,374.3,28.2,65.3
540,2023,Брянская область,16.09,26.89,1152.5,308.9,26.8,58.2
541,2023,Белгородская область,17.15,26.98,1514.5,407.5,26.9,63.1
542,2023,Республика Карелия,15.19,25.61,527.9,147.7,28.0,74.3

In [6]:
cpi = pd.read_excel("../data/ipc_s_1992-2024.xlsx")
cpi = cpi.rename(columns={"Unnamed: 0": "region"})

cpi = cpi.melt(
    id_vars='region',     # Колонка, которая останется без изменений
    var_name='year',      # Название колонки для годов (ранее были отдельными колонками)
    value_name='cpi'    # Название колонки для значений
)

# (Опционально) Преобразуем дату в целое число
cpi['year'] = cpi['year'].astype(int)

# (Опционально) Сортируем по региону и дате
cpi = cpi.sort_values(['region', 'year'])
cpi.region = cpi.region.replace({
    "г.Санкт-Петербург": "Санкт-Петербург",
    "г.Москва": "Москва",
    "Кемеровская область – Кузбасс": "Кемеровская область",
    "Республика Северная Осетия – Алания": "Республика Северная Осетия — Алания",
    "Ханты-Мансийский автономный округ – Югра": "Ханты-Мансийский автономный округ — Югра"
})
final_df = pd.merge(cpi, final_df, on=["region", "year"], how="inner")
final_df.shape

(487, 9)

In [7]:
life_expectancy = pd.read_csv("../data/life_expectancy/life_expectancy_features.csv")
life_expectancy = life_expectancy.rename(columns={"date": "year"})

final_df = pd.merge(life_expectancy, final_df, on=["region", "year"], how="inner")
final_df.shape

(459, 63)

In [8]:
covid_19 = pd.DataFrame([{"year": 2017, "covid": 0}, {"year": 2018, "covid": 0}, {"year": 2019, "covid": 0}, {"year": 2020, "covid": 1}, {"year": 2021, "covid": 1}, {"year": 2022, "covid": 1}, {"year": 2023, "covid": 0}])
final_df = pd.merge(final_df, covid_19)

In [9]:
fertility = pd.read_csv("../data/fertility_rate/fertility_rate_features.csv")
fertility = fertility.rename(columns={"date": "year"})

final_df = pd.merge(fertility, final_df, on=["region", "year"], how="inner")
final_df.shape

(459, 82)

In [10]:
death_rate = pd.read_csv("../data/death_rate/death_rate_features.csv")
death_rate = death_rate.rename(columns={"date": "year"})

final_df = pd.merge(death_rate, final_df, on=["region", "year"], how="inner")
final_df.shape

(392, 97)

In [49]:
df = final_df.set_index(['region', 'year']).copy().fillna(-1)
print(df.columns)
cols_to_drop = ["fertility_rate_city", "fertility_rate_all", "fertility_rate_village", "life_expectancy_both_sex_village",
                "life_expectancy_both_sex_all", "life_expectancy_female_sex_village",
                'life_expectancy_both_sex_city',
       'life_expectancy_male_sex_city', 'life_expectancy_male_sex_village',
       'life_expectancy_female_sex_city', 'life_expectancy_female_sex_all', "death_rate_all", "death_rate_village", "death_rate_city",
       'life_expectancy_male_sex_all', "women", "men", "population", "employable_population", "employable_population_share"]

Index(['death_rate_village', 'death_rate_city', 'death_rate_all',
       'death_rate_village_lag_15', 'death_rate_village_lag_10',
       'death_rate_village_lag_5', 'death_rate_village_lag_3',
       'death_rate_city_lag_15', 'death_rate_city_lag_10',
       'death_rate_city_lag_5', 'death_rate_city_lag_3',
       'death_rate_all_lag_15', 'death_rate_all_lag_10',
       'death_rate_all_lag_5', 'death_rate_all_lag_3', 'fertility_rate_city',
       'fertility_rate_all', 'fertility_rate_village',
       'fertility_rate_city_lag_20', 'fertility_rate_city_lag_15',
       'fertility_rate_city_lag_10', 'fertility_rate_city_lag_5',
       'fertility_rate_city_lag_3', 'fertility_rate_all_lag_20',
       'fertility_rate_all_lag_15', 'fertility_rate_all_lag_10',
       'fertility_rate_all_lag_5', 'fertility_rate_all_lag_3',
       'fertility_rate_village_lag_20', 'fertility_rate_village_lag_15',
       'fertility_rate_village_lag_10', 'fertility_rate_village_lag_5',
       'fertility_rate_village_lag_3', 'life_expectancy_both_sex_all',
       'life_expectancy_both_sex_village',
       'life_expectancy_female_sex_village', 'life_expectancy_both_sex_city',
       'life_expectancy_male_sex_city', 'life_expectancy_male_sex_village',
       'life_expectancy_female_sex_city', 'life_expectancy_female_sex_all',
       'life_expectancy_male_sex_all', 'life_expectancy_both_sex_all_lag_20',
       'life_expectancy_both_sex_all_lag_15',
       'life_expectancy_both_sex_all_lag_10',
       'life_expectancy_both_sex_all_lag_5',
       'life_expectancy_both_sex_all_lag_3',
       'life_expectancy_both_sex_village_lag_20',
       'life_expectancy_both_sex_village_lag_15',
       'life_expectancy_both_sex_village_lag_10',
       'life_expectancy_both_sex_village_lag_5',
       'life_expectancy_both_sex_village_lag_3',
       'life_expectancy_female_sex_village_lag_20',
       'life_expectancy_female_sex_village_lag_15',
       'life_expectancy_female_sex_village_lag_10',
       'life_expectancy_female_sex_village_lag_5',
       'life_expectancy_female_sex_village_lag_3',
       'life_expectancy_both_sex_city_lag_20',
       'life_expectancy_both_sex_city_lag_15',
       'life_expectancy_both_sex_city_lag_10',
       'life_expectancy_both_sex_city_lag_5',
       'life_expectancy_both_sex_city_lag_3',
       'life_expectancy_male_sex_city_lag_20',
       'life_expectancy_male_sex_city_lag_15',
       'life_expectancy_male_sex_city_lag_10',
       'life_expectancy_male_sex_city_lag_5',
       'life_expectancy_male_sex_city_lag_3',
       'life_expectancy_male_sex_village_lag_20',
       'life_expectancy_male_sex_village_lag_15',
       'life_expectancy_male_sex_village_lag_10',
       'life_expectancy_male_sex_village_lag_5',
       'life_expectancy_male_sex_village_lag_3',
       'life_expectancy_female_sex_city_lag_20',
       'life_expectancy_female_sex_city_lag_15',
       'life_expectancy_female_sex_city_lag_10',
       'life_expectancy_female_sex_city_lag_5',
       'life_expectancy_female_sex_city_lag_3',
       'life_expectancy_female_sex_all_lag_20',
       'life_expectancy_female_sex_all_lag_15',
       'life_expectancy_female_sex_all_lag_10',
       'life_expectancy_female_sex_all_lag_5',
       'life_expectancy_female_sex_all_lag_3',
       'life_expectancy_male_sex_all_lag_20',
       'life_expectancy_male_sex_all_lag_15',
       'life_expectancy_male_sex_all_lag_10',
       'life_expectancy_male_sex_all_lag_5',
       'life_expectancy_male_sex_all_lag_3', 'cpi', 'men', 'women',
       'population', 'employable_population', 'employable_population_share',
       'value', 'covid'],
      dtype='object')

In [12]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calculate_vif(data, target_column=None):
    # Исключаем целевую переменную (если есть)
    if target_column:
        features = data.drop(labels=target_column, axis=1)
    else:
        features = data.copy()
    
    # Добавляем константу для расчета VIF
    features_with_const = sm.add_constant(features)
    
    # Считаем VIF для каждой переменной
    vif = pd.DataFrame()
    vif["Variable"] = features_with_const.columns
    vif["VIF"] = [variance_inflation_factor(features_with_const.values, i) 
                  for i in range(features_with_const.shape[1])]
    
    # Удаляем строку с константой (ее VIF не интерпретируется)
    vif = vif[vif["Variable"] != "const"]
    return vif


def remove_high_vif(data, threshold=5, target_column=None):
    if target_column:
        features = data.drop(labels=[target_column], axis=1)
    else:
        features = data.copy()
    
    while True:
        vif_df = calculate_vif(features, target_column)
        max_vif = vif_df["VIF"].max()
        if max_vif <= threshold:
            break
        # Находим переменную с максимальным VIF
        max_vif_row = vif_df[vif_df["VIF"] == max_vif]
        feature_to_remove = max_vif_row["Variable"].values[0]
        # Удаляем ее
        features = features.drop(columns=[feature_to_remove])
    
    return features

# Предположим, у вас есть DataFrame `df` с переменными и (опционально) целевой колонкой 'target'
cleaned_data = remove_high_vif(df.drop(labels=["value"] + cols_to_drop, axis=1), threshold=10, target_column=None)

# Вывод оставшихся переменных
print("Оставшиеся переменные:", cleaned_data.columns.tolist())

Оставшиеся переменные: ['death_rate_village_lag_3', 'death_rate_city_lag_15', 'fertility_rate_city_lag_20', 'fertility_rate_city_lag_15', 'fertility_rate_city_lag_10', 'fertility_rate_city_lag_3', 'fertility_rate_village_lag_20', 'fertility_rate_village_lag_15', 'fertility_rate_village_lag_10', 'fertility_rate_village_lag_3', 'life_expectancy_female_sex_village_lag_3', 'life_expectancy_male_sex_city_lag_20', 'life_expectancy_male_sex_city_lag_3', 'life_expectancy_male_sex_village_lag_15', 'life_expectancy_female_sex_city_lag_10', 'cpi', 'covid']

In [24]:
pd.set_option("display.max_columns", None)

In [25]:
df.describe()

,death_rate_village,death_rate_city,death_rate_all,death_rate_village_lag_15,death_rate_village_lag_10,death_rate_village_lag_5,death_rate_village_lag_3,death_rate_city_lag_15,death_rate_city_lag_10,death_rate_city_lag_5,death_rate_city_lag_3,death_rate_all_lag_15,death_rate_all_lag_10,death_rate_all_lag_5,death_rate_all_lag_3,fertility_rate_city,fertility_rate_all,fertility_rate_village,fertility_rate_city_lag_20,fertility_rate_city_lag_15,fertility_rate_city_lag_10,fertility_rate_city_lag_5,fertility_rate_city_lag_3,fertility_rate_all_lag_20,fertility_rate_all_lag_15,fertility_rate_all_lag_10,fertility_rate_all_lag_5,fertility_rate_all_lag_3,fertility_rate_village_lag_20,fertility_rate_village_lag_15,fertility_rate_village_lag_10,fertility_rate_village_lag_5,fertility_rate_village_lag_3,life_expectancy_both_sex_all,life_expectancy_both_sex_village,life_expectancy_female_sex_village,life_expectancy_both_sex_city,life_expectancy_male_sex_city,life_expectancy_male_sex_village,life_expectancy_female_sex_city,life_expectancy_female_sex_all,life_expectancy_male_sex_all,life_expectancy_both_sex_all_lag_20,life_expectancy_both_sex_all_lag_15,life_expectancy_both_sex_all_lag_10,life_expectancy_both_sex_all_lag_5,life_expectancy_both_sex_all_lag_3,life_expectancy_both_sex_village_lag_20,life_expectancy_both_sex_village_lag_15,life_expectancy_both_sex_village_lag_10,life_expectancy_both_sex_village_lag_5,life_expectancy_both_sex_village_lag_3,life_expectancy_female_sex_village_lag_20,life_expectancy_female_sex_village_lag_15,life_expectancy_female_sex_village_lag_10,life_expectancy_female_sex_village_lag_5,life_expectancy_female_sex_village_lag_3,life_expectancy_both_sex_city_lag_20,life_expectancy_both_sex_city_lag_15,life_expectancy_both_sex_city_lag_10,life_expectancy_both_sex_city_lag_5,life_expectancy_both_sex_city_lag_3,life_expectancy_male_sex_city_lag_20,life_expectancy_male_sex_city_lag_15,life_expectancy_male_sex_city_lag_10,life_expectancy_male_sex_city_lag_5,life_expectancy_male_sex_city_lag_3,life_expectancy_male_sex_village_lag_20,life_expectancy_male_sex_village_lag_15,life_expectancy_male_sex_village_lag_10,life_expectancy_male_sex_village_lag_5,life_expectancy_male_sex_village_lag_3,life_expectancy_female_sex_city_lag_20,life_expectancy_female_sex_city_lag_15,life_expectancy_female_sex_city_lag_10,life_expectancy_female_sex_city_lag_5,life_expectancy_female_sex_city_lag_3,life_expectancy_female_sex_all_lag_20,life_expectancy_female_sex_all_lag_15,life_expectancy_female_sex_all_lag_10,life_expectancy_female_sex_all_lag_5,life_expectancy_female_sex_all_lag_3,life_expectancy_male_sex_all_lag_20,life_expectancy_male_sex_all_lag_15,life_expectancy_male_sex_all_lag_10,life_expectancy_male_sex_all_lag_5,life_expectancy_male_sex_all_lag_3,cpi,men,women,population,employable_population,employable_population_share,value,covid
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,15.494388,13.445918,13.992092,18.913776,16.961224,15.212500,14.792092,14.767092,13.314286,12.554847,12.347704,16.006378,14.390816,13.323724,13.042602,1.477732,1.546291,1.771023,1.160015,1.297806,1.493097,1.634735,1.600429,1.278742,1.392895,1.638561,1.780416,1.709408,1.570474,1.663038,2.046577,2.236344,2.048796,71.315026,70.065842,75.286505,71.740893,66.537194,65.247806,76.605944,76.343342,66.213622,64.756122,64.992347,68.065230,70.463087,71.323291,63.542347,63.187755,66.018903,68.796301,69.776939,70.614031,70.584949,72.630765,74.696633,75.381582,65.196429,65.713265,68.910204,71.130893,71.926429,59.143622,59.354337,62.904949,65.498852,66.450638,57.658163,57.202806,60.333112,63.484439,64.654056,71.626531,72.493367,74.838954,76.463878,77.045026,71.378061,71.975255,74.229362,75.986811,76.617194,58.727041,58.741327,62.146352,64.922270,65.947372,105.953112,15.377219,24.939617,1504.561480,375.050510,24.658418,49.195408,0.502551
std,4.297161,3.481693,3.557746,5.914883,4.819825,3.885335,3.818137,3.371517,2.858361,2.764347,2.766024,3.913860,3.254855,2.937660,2.910515,0.305465,0.299030,0.472708,0.264982,0.318356,0.334568,0.254365,0.265627,0.316855,0.291205,0.377162,0.331020,0.324955,0.367357,0.319541,0.518758,0.665562,0.614650,2.270880,3.170651,2.903334,2.184936,2.639273,3.536496,1.930405,1.953582,2.716324,6.328344,3.057236,2.551169,2.314418,2.277577,6.487741,3.837012,3.498450,3.230901,3.220942,6.851910,3.193704,2.924241,2.641782,2.659567,6.309274,2.829707,2.249637,2.134241,2.084147,5.949051,3.215648,2.688393,2.695709,2.717785,6.150257,4.170014,3.843752,3.690930,3.691814,6.681934,2.250083,1.778590,1.658210,1.565585,6.729682,2.493721,2.050220,1.813096,1.748191,5.944452,3.428059,2.972166,2.829248,2.837956,3.568839,1.491322,1.450254,1162.311611,292.884149,4.836797,13.164271,0.500632
min,3.000000,2.900000,3.000000,0.000000,3.600000,3.200000,3.000000,0.000000,3.600000,3.200000,2.900000,0.000000,3.700000,3.200000,3.000000,0.906000,0.871000,0.785000,-1.000000,0.000000,1.080000,1.183000,1.038000,-1.000000,0.000000,1.149000,1.130000,0.981000,-1.000000,0.000000,1.077000,1.031000,0.869000,66.080000,58.050000,58.870000,66.560000,61.390000,53.600000,68.380000,70.370000,60.760000,-1.000000,53.800000,58.800000,61.100000,61.830000,-1.000000,51.800000,55.400000,56.970000,57.600000,-1.000000,57.500000,60.900000,62.930000,63.030000,-1.000000,55.300000,61.400000,64.540000,65.210000,-1.000000,49.200000,55.500000,59.060000,60.470000,-1.000000,46.900000,50.900000,50.790000,50.790000,-1.000000,62.100000,67.300000,69.480000,69.480000,-1.000000,60.200000,64.600000,66.880000,67.220000,-1.000000,48.200000,53.400000,55.570000,56.650000,101.120000,12.320000,20.530000,135.900000,26.300000,8.800000,10.000000,0.000000
25%,13.400000,11.600000,12.300000,15.600000,14.400000,13.000000,12.700000,13.500000,12.275000,11.400000,11.300000,14.575000,13.100000,12.000000,11.775000,1.311750,1.356000,1.406500,1.050750,1.162750,1.320000,1.489750,1.439750,1.144500,1.240000,1.430000,1.572000,1.510000,1.387750,1.470000,1.708500,1.772500,1.598750,69.867500,68.147500,73.725000,70.350000,64.835000,63.255000,75.510000,75.192500,64.530000,63.700000,63.000000,66.500000,69.200000,69.917500,62.000000,60.500000,64.000000,67.072500,67.960000,69.600000,68.575000,71.000000,73.612500,74.150000,64.075000,63.800000,67.600000,69.910000,70.625000,57.875000,57.275000,61.100000,63.917500,64.757500,55.900000,54.275000,58.000000,61.402500,62.617500,71.000000,71.100000,73.900000,75.627500,76.130000,70.600000,70.575000,73.100000,75.177500,75.657500,57.500000,56.650000,60.300000,63.280000,64.085000,103.010000,14.400000,24.117500,760.700000,175.300000,22.700000,41.750000,0.000000
50%,16.200000,13.400000,14.200000,18.400000,16.950000,15.500000,15.300000,15.150000,13.800000,13.200000,13.000000,16.200000,14.600000,13.700000,13.500000,1.431000,1.504500,1.672500,1.121000,1.246500,1.416000,1.602500,1.568500,1.211000,1.334500,1.542000,1.708500,1.662000,1.505000,1.622000,1.930000,2.119000,1.946500,71.225000,69.970000,75.560000,71.715000,66.090000,64.775000,76.905000,76.545000,65.735000,65.400000,65.000000,68.100000,70.340000,71.160000,64.050000,63.000000,65.895000,68.810000,69.715000,71.500000,70.800000,72.825000,74.905000,75.530000,66.000000,65.700000,69.000000,70.970000,71.770000,59.650000,59.200000,62.800000,65.115000,66.050000,58.000000,56.800000,59.900000,63.210000,64.410000,72.600000,72.800000,75.100000,76.560000,77.090000,72.300000,72.200000,74.500000,76.080000,76.715000,59.200000,58.500000,61.950000,64.580000,65.515000,104.900000,15.210000,25.170000,1106.800000,299.100000,25.800000,51.000000,1.000000
75%,18.100000,15.725000,16.200000,22.925000,19.925000,18.000000,17.600000,16.500000,14.900000,14.100000,14.000000,18.500000,16.400000,15.325000,15.000000,1.570500,1.659750,2.082500,1.221250,1.333000,1.534500,1.747500,1.718250,1.334250,1.440500,1.710000,1.893500,1.843250,1.698250,1.805500,2.246000,2.566000,2.349000,72.662500,71.852500,77.220000,72.990000,67.625000,67.082500,77.892500,77.670000,67.515000,66.800000,66.600000,69.447500,71.630000,72.550000,66.025000,65.300000,67.902500,70.480000,71.690000,72.900000,72.600000,74.500000,76.235000,77.112500,67.300000,67.500000,70.300000,72.062500,72.900000,61.325000,61.100000,64.250000,66.530000,67.595000,59.925000,59.300000,62.317500,65.170000,66.555000,73.500000,74.100000,75.942500,77.382500,77.905000,73.300000,73.425000,75.475000,76.980000,77.630000,60.800000,60.300000,63.470000,66.070000,67.182500,108.710000,16.150000,25.990000,1889.325000,455.800000,28.200000,59.100000,1.000000
max,28.300000,22.200000,22.300000,33.900000,31.100000,24.900000,22.700000,21.600000,19.100000,17.500000,17.200000,24.900000,21.800000,19.600000,18.400000,3.388000,3.025000,4.335000,2.498000,4.064000,3.520000,3.125000,3.193000,2.841000,3.180000,3.453000,3.341000,3.341000,3.348000,3.110000,5.507000,5.779000,5.608000,79.640000,81.110000,83.450000,79.390000,77.900000,78.500000,81.550000,82.340000,76.860000,74.800000,75.200000,77.330000,79.020000,79.640000,76.900000,76.800000,77.200000,79.350000,81.110000,80.600000,80.200000,80.300000,81.410000,83.450000,72.300000,74.100000,77.910000,80.200000,80.200000,68.800000,70.600000,74.570000,77.190000,77.900000,72.700000,73.200000,73.600000,77.050000,78.500000,76.600000,78.400000,80.710000,82.960000,82.960000,78.900000,79.000000,80.260000,81.540000,82.340000,70.300000,71.100000,73.990000,76.480000,76.860000,118.640000,21.450000,29.140000,5832.000000,1507.900000,31.200000,72.400000,1.000000

In [18]:
from linearmodels.panel import PanelOLS, RandomEffects
from linearmodels.panel.results import compare
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.diagnostic import het_breuschpagan


cleaned_by_vif_cols = cleaned_data.columns.tolist()
fe_model = PanelOLS(
    df['value'],
    df[cleaned_by_vif_cols],
    # df.drop(labels=["value"] + cols_to_drop, axis=1),
    # df[fe_model.pvalues[fe_model.pvalues < 0.05].index.tolist()],
    entity_effects=True,
    time_effects=False,
    drop_absorbed=False
).fit(cov_type='clustered', cluster_entity=True)
print("\nFixed Effects Model Results:")
print(fe_model)

Fixed Effects Model Results:
                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  value   R-squared:                        0.9211
Estimator:                   PanelOLS   R-squared (Between):             -32.042
No. Observations:                 392   R-squared (Within):               0.9211
Date:                Fri, May 02 2025   R-squared (Overall):             -31.338
Time:                        23:14:28   Log-likelihood                   -918.86
Cov. Estimator:             Clustered
                                        F-statistic:                      212.30
Entities:                          66   P-value                           0.0000
Avg Obs:                       5.9394   Distribution:                  F(17,309)
Min Obs:                       2.0000
Max Obs:                       6.0000   F-statistic (robust):             290.63
                                        P-value                           0.0000
Time periods:                       6   Distribution:                  F(17,309)
Avg Obs:                       65.333
Min Obs:                       65.000
Max Obs:                       66.000

                                            Parameter Estimates
============================================================================================================
                                          Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------------------
death_rate_village_lag_3                    -0.7454     0.4672    -1.5955     0.1116     -1.6647      0.1739
death_rate_city_lag_15                      -1.1075     0.3863    -2.8671     0.0044     -1.8676     -0.3474
fertility_rate_city_lag_20                   2.9721     4.2250     0.7035     0.4823     -5.3413      11.285
fertility_rate_city_lag_15                   7.1083     2.4099     2.9497     0.0034      2.3665      11.850
fertility_rate_city_lag_10                   16.986     5.0331     3.3748     0.0008      7.0822      26.889
fertility_rate_city_lag_3                    12.449     4.9158     2.5324     0.0118      2.7759      22.121
fertility_rate_village_lag_20               -4.1297     3.5476    -1.1641     0.2453     -11.110      2.8508
fertility_rate_village_lag_15               -4.9073     2.2094    -2.2211     0.0271     -9.2546     -0.5600
fertility_rate_village_lag_10               -0.2361     2.0595    -0.1146     0.9088     -4.2884      3.8162
fertility_rate_village_lag_3                -4.2220     2.4282    -1.7388     0.0831     -8.9999      0.5558
life_expectancy_female_sex_village_lag_3    -0.5340     0.5011    -1.0657     0.2874     -1.5200      0.4519
life_expectancy_male_sex_city_lag_20        -0.2552     0.0834    -3.0595     0.0024     -0.4193     -0.0911
life_expectancy_male_sex_city_lag_3          2.8644     0.7619     3.7594     0.0002      1.3652      4.3637
life_expectancy_male_sex_village_lag_15      0.0098     0.2495     0.0392     0.9688     -0.4812      0.5007
life_expectancy_female_sex_city_lag_10       1.8390     0.6064     3.0327     0.0026      0.6459      3.0322
cpi                                          0.5313     0.1374     3.8667     0.0001      0.2609      0.8017
covid                                        2.5599     1.5085     1.6969     0.0907     -0.4084      5.5281
============================================================================================================

F-test for Poolability: 33.597
P-value: 0.0000
Distribution: F(65,309)

Included effects: Entity

In [14]:
fe_model.pvalues[fe_model.pvalues < 0.05].index.tolist()

['death_rate_city_lag_15',
 'fertility_rate_city_lag_15',
 'fertility_rate_city_lag_10',
 'fertility_rate_city_lag_3',
 'fertility_rate_village_lag_15',
 'life_expectancy_male_sex_city_lag_20',
 'life_expectancy_male_sex_city_lag_3',
 'life_expectancy_female_sex_city_lag_10',
 'cpi']

In [23]:
fe_model.summary.as_latex()

'\\begin{center}\n\\begin{tabular}{lclc}\n\\toprule\n\\textbf{Dep. Variable:}                                 &       value        & \\textbf{  R-squared:         }   &      0.9211      \\\\\n\\textbf{Estimator:}                                     &      PanelOLS      & \\textbf{  R-squared (Between):}  &     -32.042      \\\\\n\\textbf{No. Observations:}                              &        392         & \\textbf{  R-squared (Within):}   &      0.9211      \\\\\n\\textbf{Date:}                                          &  Fri, May 02 2025  & \\textbf{  R-squared (Overall):}  &     -31.338      \\\\\n\\textbf{Time:}                                          &      23:14:28      & \\textbf{  Log-likelihood     }   &     -918.86      \\\\\n\\textbf{Cov. Estimator:}                                &     Clustered      & \\textbf{                     }   &                  \\\\\n\\textbf{}                                               &                    & \\textbf{  F-statistic:       }   &      212.30      \\\\\n\\textbf{Entities:}                                      &         66         & \\textbf{  P-value            }   &      0.0000      \\\\\n\\textbf{Avg Obs:}                                       &       5.9394       & \\textbf{  Distribution:      }   &    F(17,309)     \\\\\n\\textbf{Min Obs:}                                       &       2.0000       & \\textbf{                     }   &                  \\\\\n\\textbf{Max Obs:}                                       &       6.0000       & \\textbf{  F-statistic (robust):} &      290.63      \\\\\n\\textbf{}                                               &                    & \\textbf{  P-value            }   &      0.0000      \\\\\n\\textbf{Time periods:}                                  &         6          & \\textbf{  Distribution:      }   &    F(17,309)     \\\\\n\\textbf{Avg Obs:}                                       &       65.333       & \\textbf{                     }   &                  \\\\\n\\textbf{Min Obs:}                                       &       65.000       & \\textbf{                     }   &                  \\\\\n\\textbf{Max Obs:}                                       &       66.000       & \\textbf{                     }   &                  \\\\\n\\textbf{}                                               &                    & \\textbf{                     }   &                  \\\\\n\\bottomrule\n\\end{tabular}\n\\begin{tabular}{lcccccc}\n                                                        & \\textbf{Parameter} & \\textbf{Std. Err.} & \\textbf{T-stat} & \\textbf{P-value} & \\textbf{Lower CI} & \\textbf{Upper CI}  \\\\\n\\midrule\n\\textbf{death\\_rate\\_village\\_lag\\_3}                   &      -0.7454       &       0.4672       &     -1.5955     &      0.1116      &      -1.6647      &       0.1739       \\\\\n\\textbf{death\\_rate\\_city\\_lag\\_15}                     &      -1.1075       &       0.3863       &     -2.8671     &      0.0044      &      -1.8676      &      -0.3474       \\\\\n\\textbf{fertility\\_rate\\_city\\_lag\\_20}                 &       2.9721       &       4.2250       &      0.7035     &      0.4823      &      -5.3413      &       11.285       \\\\\n\\textbf{fertility\\_rate\\_city\\_lag\\_15}                 &       7.1083       &       2.4099       &      2.9497     &      0.0034      &       2.3665      &       11.850       \\\\\n\\textbf{fertility\\_rate\\_city\\_lag\\_10}                 &       16.986       &       5.0331       &      3.3748     &      0.0008      &       7.0822      &       26.889       \\\\\n\\textbf{fertility\\_rate\\_city\\_lag\\_3}                  &       12.449       &       4.9158       &      2.5324     &      0.0118      &       2.7759      &       22.121       \\\\\n\\textbf{fertility\\_rate\\_village\\_lag\\_20}              &      -4.1297       &       3.5476       &     -1.1641     &      0.2453      &      -11.110      &       2.8508       \\\\\n\\textbf{fertility\\_rate\\_village\\_lag\\_15}              &      -4.9073       &       2.2094       &     -2.2211     &      0.0271      &      -9.2546      &      -0.5600       \\\\\n\\textbf{fertility\\_rate\\_village\\_lag\\_10}              &      -0.2361       &       2.0595       &     -0.1146     &      0.9088      &      -4.2884      &       3.8162       \\\\\n\\textbf{fertility\\_rate\\_village\\_lag\\_3}               &      -4.2220       &       2.4282       &     -1.7388     &      0.0831      &      -8.9999      &       0.5558       \\\\\n\\textbf{life\\_expectancy\\_female\\_sex\\_village\\_lag\\_3} &      -0.5340       &       0.5011       &     -1.0657     &      0.2874      &      -1.5200      &       0.4519       \\\\\n\\textbf{life\\_expectancy\\_male\\_sex\\_city\\_lag\\_20}     &      -0.2552       &       0.0834       &     -3.0595     &      0.0024      &      -0.4193      &      -0.0911       \\\\\n\\textbf{life\\_expectancy\\_male\\_sex\\_city\\_lag\\_3}      &       2.8644       &       0.7619       &      3.7594     &      0.0002      &       1.3652      &       4.3637       \\\\\n\\textbf{life\\_expectancy\\_male\\_sex\\_village\\_lag\\_15}  &       0.0098       &       0.2495       &      0.0392     &      0.9688      &      -0.4812      &       0.5007       \\\\\n\\textbf{life\\_expectancy\\_female\\_sex\\_city\\_lag\\_10}   &       1.8390       &       0.6064       &      3.0327     &      0.0026      &       0.6459      &       3.0322       \\\\\n\\textbf{cpi}                                            &       0.5313       &       0.1374       &      3.8667     &      0.0001      &       0.2609      &       0.8017       \\\\\n\\textbf{covid}                                          &       2.5599       &       1.5085       &      1.6969     &      0.0907      &      -0.4084      &       5.5281       \\\\\n\\bottomrule\n\\end{tabular}\n%\\caption{PanelOLS Estimation Summary}\n\\end{center}\n\nF-test for Poolability: 33.597 \\newline\n P-value: 0.0000 \\newline\n Distribution: F(65,309) \\newline\n  \\newline\n Included effects: Entity'

In [47]:
import numpy as np
from scipy.stats import chi2

b_fe = fe_model.params.values
b_re = re_model.params.values

diff = b_fe - b_re

cov_diff = fe_model.cov.values - re_model.cov.values
inv_cov_diff = np.linalg.inv(cov_diff)
hausman_stat = diff.T @ inv_cov_diff @ diff

chi2.sf(hausman_stat, len(b_fe))

np.float64(1.8716730207692367e-46)

In [53]:
# Тест Бреуша-Пагана
residuals = fe_model.resids
exog = sm.add_constant(df[cleaned_by_vif_cols])
bp_test = het_breuschpagan(residuals, exog)
print(f"\nBreusch-Pagan Test: LM={bp_test[0]:.2f}, p={bp_test[1]:.3f}")

Breusch-Pagan Test: LM=75.09, p=0.000

In [55]:
fe_model.estimated_effects

                          estimated_effects
region              year
Алтайский край      2017        -277.431724
                    2018        -277.431724
                    2019        -277.431724
                    2020        -277.431724
                    2021        -277.431724
...                                     ...
Ярославская область 2018        -275.953670
                    2019        -275.953670
                    2020        -275.953670
                    2021        -275.953670
                    2022        -275.953670

[392 rows x 1 columns]