In [4]:
import pandas as pd

pd.set_option("display.max_columns", 50)

In [5]:
target_df = pd.read_csv("../data/final_mart_30_04_8_35.csv")
target_df.head()

,date,region,Total number of banking system institutions,institutions of the Bank of Russia,credit institutions,branches of credit organizations,additional offices,Number of bank institutions per 1 million inhabitants,total_accounts,total_in_credit_org,clients-legal entities that are not credit institutions,individual clients,"The number of accounts opened by institutions of the banking system, per 1 resident, units.",number_of_new_remote_accounts,number_of_new_remote_accounts_individuals,number_of_new_remote_accounts_individuals_with_internet,number_of_new_remote_accounts_individuals_with_sms,orders in electronic form total,orders in electronic form with internet,payments orders,payments orders with internet,letter of credit,payment requirements,payment requirements with internet,collection orders,bank orders,volume orders in electronic form total,volume orders in electronic form with internet,volume payments orders,volume payments orders with internet,volume letter of credit,volume payment requirements,volume payment requirements with internet,volume collection orders,volume bank orders,orders amount,payment orders amount,"payment requirements, collection orders amount",letters of credit amount,checks amount,bank orders amount,transfer orders without opening a bank account amount
0,2013-10-01,Архангельская область,350.0,8,2,23,184.0,291.0,4304.1,4303.5,40.6,4262.8,3.6,741.3,726.6,8.5,75.3,3611.6,1396.7,1628.8,1393.5,0.0,3.6,3.2,22.8,1956.5,196.9,172.3,194.1,171.7,0.0,0.7,0.6,0.4,1.8,230.8,220.6,2.2,0.1,0.0,3.0,4.9
1,2013-10-01,Астраханская область,293.0,3,5,18,115.0,289.0,3136.0,3135.6,27.4,3108.2,3.1,519.3,508.1,90.1,86.9,1051.9,279.1,453.6,279.1,0.0,0.8,0.0,9.5,588.0,98.5,52.3,97.5,52.3,0.0,0.0,0.0,0.1,0.8,139.0,132.9,0.6,0.1,0.0,1.4,4.1
2,2013-10-01,Белгородская область,542.0,4,4,12,163.0,352.0,5113.9,5113.3,45.0,5068.4,3.3,811.0,794.0,463.8,207.2,8688.4,1124.2,1422.0,1109.3,0.0,16.3,14.9,46.0,7204.1,401.5,295.1,399.4,294.9,0.0,0.3,0.2,0.4,1.4,439.1,430.3,0.9,0.1,0.0,2.5,5.3
3,2013-10-01,Брянская область,325.0,3,0,12,103.0,259.0,3968.8,3968.0,20.5,3947.6,3.2,561.6,557.6,15.2,333.0,743.0,228.3,400.6,228.3,0.0,15.0,0.0,27.4,300.0,64.3,47.0,63.0,47.0,0.0,0.7,0.0,0.2,0.2,121.8,116.9,1.1,0.0,0.0,0.7,3.1
4,2013-10-01,Владимирская область,475.0,6,3,13,203.0,334.0,5613.8,5613.4,41.7,5571.7,3.9,346.6,328.9,217.0,195.2,3021.3,956.9,1669.7,956.7,0.0,0.3,0.3,14.3,1337.0,163.3,87.8,160.4,87.8,0.0,0.0,0.0,0.1,2.8,211.6,201.6,1.7,0.1,0.0,3.9,4.2

In [39]:
target = pd.read_csv("../../sber_dolya_beznala.csv", sep=';')

In [40]:
target["date"] = pd.to_datetime(target["date"])
target["year"] = target["date"].dt.year
target = target.sort_values(by='date')
target = target[target["date"].dt.month == 1]
target = target.drop(labels=["date"], axis=1)
target = target.drop_duplicates(subset=["region", "year"])
target

                     region  value  year
8240   Республика Татарстан   35.6  2017
8173  Нижегородская область   38.0  2017
8174     Мурманская область   50.1  2017
8175                 Москва   44.8  2017
8176    Магаданская область   40.3  2017
...                     ...    ...   ...
189   Архангельская область   76.7  2025
188    Астраханская область   64.9  2025
187    Белгородская область   69.2  2025
186        Брянская область   64.2  2025
190        Амурская область   72.8  2025

[751 rows x 3 columns]

In [69]:
sp11 = pd.read_csv("sp11.csv")
sp11.region = sp11.region.replace({
    "г.Санкт-Петербург": "Санкт-Петербург",
    "г.Москва": "Москва",
    "Кемеровская область – Кузбасс": "Кемеровская область",
    "Республика Северная Осетия – Алания": "Республика Северная Осетия — Алания",
    "Ханты-Мансийский автономный округ – Югра": "Ханты-Мансийский автономный округ — Югра"
})

final_df = pd.merge(sp11, target, on=["region", "year"], how="inner")
final_df

,year,region,population,employable_population,employable_population_share,value
0,2017,Алтайский край,2303.6,609.6,26.5,37.4
1,2018,Алтайский край,2277.7,615.9,27.0,45.9
2,2019,Алтайский край,2250.1,619.9,27.5,50.0
3,2020,Алтайский край,2224.1,590.8,26.6,54.1
4,2021,Алтайский край,2193.0,587.3,26.8,58.0
...,...,...,...,...,...,...
552,2019,Санкт-Петербург,5546.4,1485.1,26.8,56.3
553,2020,Санкт-Петербург,5580.8,1444.8,25.9,59.2
554,2021,Санкт-Петербург,5588.5,1463.9,26.2,66.0
555,2022,Санкт-Петербург,5607.9,1403.5,25.0,68.2
556,2023,Санкт-Петербург,5600.0,1430.7,25.5,68.0