In [36]:
import pandas as pd

In [100]:
df = pd.read_table("../data/hse_data/PopD5a2012-2022.txt", sep=',')

In [101]:
df.head()

,Year,Reg,Group,Sex,PopD5a0,PopD5a1,PopD5a5,PopD5a10,PopD5a15,PopD5a20,...,PopD5a40,PopD5a45,PopD5a50,PopD5a55,PopD5a60,PopD5a65,PopD5a70,PopD5a75,PopD5a80,PopD5a85
0,2012,1100,T,B,1828850.0,6702732.0,7360269.0,6677476.0,7408778.0,11220166.0,...,9468365.0,9792395.0,11514136.0,10328251.0,8558240.0,4182730.0,5952348.0,3873785.0,2780431.0,1567336.0
1,2012,1100,T,M,941094.0,3438351.0,3770739.0,3425806.0,3779472.0,5692748.0,...,4598308.0,4635184.0,5285828.0,4501014.0,3541476.0,1609955.0,1989934.0,1176634.0,717229.0,301990.0
2,2012,1100,T,F,887756.0,3264381.0,3589531.0,3251670.0,3629306.0,5527419.0,...,4870057.0,5157211.0,6228309.0,5827238.0,5016765.0,2572775.0,3962415.0,2697151.0,2063203.0,1265346.0
3,2012,1100,U,B,1295845.0,4720432.0,5206195.0,4652797.0,5398214.0,8605029.0,...,7078299.0,7111788.0,8347216.0,7599093.0,6454399.0,3216040.0,4330140.0,2756812.0,1957161.0,1158351.0
4,2012,1100,U,M,667616.0,2423412.0,2667382.0,2386398.0,2733184.0,4308709.0,...,3399501.0,3299436.0,3724597.0,3214572.0,2602942.0,1222340.0,1431751.0,822363.0,498656.0,233469.0

In [102]:
# for col in df.columns:
#     if "DrAa" in col:
#         df = df[df[col] != "."]
#         df[col] = df[col].astype(int)

In [103]:
share = pd.DataFrame()

genders = ["B"]
groups = ["T"]
for ss in genders:
    for gg in groups:
        df_1 = df[(df["Sex"] == ss) & (df["Group"] == gg)].drop(labels=["Group", "Sex"], axis=1).rename(columns={col: col + f"_{ss}_{gg}" for col in df.columns if "PopDa" in col})
        df_f = df_1.set_index(["Year", "Reg"]).div(df_1.set_index(["Year", "Reg"]).sum(1), 0).reset_index()
        if share.empty:
            share = df_f
        else:
            share = pd.merge(df_f, share, on=["Year", "Reg"], how="inner")

        print(share.shape)

(1064, 21)

In [104]:
# Справочник: код региона -> название региона (на русском языке)
region_code_to_name = {
    1101: "Алтайский край",
    1110: "Амурская область",
    1111: "Архангельская область",
    1112: "Астраханская область",
    1114: "Белгородская область",
    1115: "Брянская область",
    1117: "Владимирская область",
    1118: "Волгоградская область",
    1119: "Вологодская область",
    1120: "Воронежская область",
    1199: "Еврейская автономная область",
    1176: "Забайкальский край",
    1124: "Ивановская область",
    1126: "Республика Ингушетия",
    1125: "Иркутская область",
    1183: "Кабардино-Балкарская Республика",
    1127: "Калининградская область",
    1129: "Калужская область",
    1130: "Камчатский край",
    1191: "Карачаево-Черкесская Республика",
    1132: "Кемеровская область",
    1133: "Кировская область",
    1134: "Костромская область",
    1103: "Краснодарский край",
    1104: "Красноярский край",
    1137: "Курганская область",
    1138: "Курская область",
    1141: "Ленинградская область",
    1142: "Липецкая область",
    1144: "Магаданская область",
    1145: "Москва",
    1146: "Московская область",
    1147: "Мурманская область",
    111:  "Ненецкий автономный округ",
    1122: "Нижегородская область",
    1149: "Новгородская область",
    1150: "Новосибирская область",
    1152: "Омская область",
    1153: "Оренбургская область",
    1154: "Орловская область",
    1156: "Пензенская область",
    1157: "Пермский край",
    1105: "Приморский край",
    1158: "Псковская область",
    1179: "Республика Адыгея",
    1184: "Республика Алтай",
    1180: "Республика Башкортостан",
    1181: "Республика Бурятия",
    1182: "Республика Дагестан",
    1185: "Республика Калмыкия",
    1186: "Республика Карелия",
    1187: "Республика Коми",
    1188: "Республика Марий Эл",
    1189: "Республика Мордовия",
    1198: "Республика Саха (Якутия)",
    1190: "Республика Северная Осетия — Алания",
    1192: "Республика Татарстан",
    1193: "Республика Тыва",
    1195: "Республика Хакасия",
    1160: "Ростовская область",
    1161: "Рязанская область",
    1136: "Самарская область",
    1140: "Санкт-Петербург",
    1163: "Саратовская область",
    1164: "Сахалинская область",
    1165: "Свердловская область",
    1166: "Смоленская область",
    1107: "Ставропольский край",
    1168: "Тамбовская область",
    1128: "Тверская область",
    1169: "Томская область",
    1170: "Тульская область",
    1171: "Тюменская область",
    1194: "Удмуртская Республика",
    1173: "Ульяновская область",
    1108: "Хабаровский край",
    171:  "Ханты-Мансийский автономный округ — Югра",
    1175: "Челябинская область",
    1196: "Чеченская Республика",
    1197: "Чувашская Республика",
    1177: "Чукотский автономный округ",
    271:  "Ямало-Ненецкий автономный округ",
    1178: "Ярославская область"
}

a = {}
for key in region_code_to_name.keys():
    a[str(key)] = region_code_to_name[key]

In [105]:
share["Reg"] = share["Reg"].astype(str).map(a)
share = share.dropna()
share = share.set_index(["Year", "Reg"]) * 100
share = share.reset_index()

In [106]:
share.to_csv("../data/hse_data/share_nes.csv", index=False)

In [77]:
a = {}
for key in region_code_to_name.keys():
    a[str(key)] = region_code_to_name[key]

In [78]:
df["Reg"] = df["Reg"].astype(str).map(a)
df = df.dropna()

In [80]:
df = df[df["Sex"] != "B"]
df = df[df["Group"] != "T"]

In [81]:
df = df.drop(labels=["PopD5a0", "PopD5a1", "PopD5a5", "PopD5a10", "PopD5a15"], axis=1)
df.columns

Index(['Year', 'Reg', 'Group', 'Sex', 'PopD5a20', 'PopD5a25', 'PopD5a30',
       'PopD5a35', 'PopD5a40', 'PopD5a45', 'PopD5a50', 'PopD5a55', 'PopD5a60',
       'PopD5a65', 'PopD5a70', 'PopD5a75', 'PopD5a80', 'PopD5a85'],
      dtype='object')

In [84]:
import pandas as pd

pop_cols = [c for c in df.columns if c.startswith("PopD5a")]

df_wide = df.pivot_table(
    index=["Year","Reg"],
    columns=["Group","Sex"],
    values=pop_cols,
    aggfunc="sum"
)

df_wide.columns = [
    f"{pop}_{grp}_{sex}"
    for pop, grp, sex in df_wide.columns
]

df_wide = df_wide.reset_index()

df_wide.head()

,Year,Reg,PopD5a20_R_F,PopD5a20_R_M,PopD5a20_U_F,PopD5a20_U_M,PopD5a25_R_F,PopD5a25_R_M,PopD5a25_U_F,PopD5a25_U_M,...,PopD5a75_U_F,PopD5a75_U_M,PopD5a80_R_F,PopD5a80_R_M,PopD5a80_U_F,PopD5a80_U_M,PopD5a85_R_F,PopD5a85_R_M,PopD5a85_U_F,PopD5a85_U_M
0,2015,Алтайский край,18259.0,21416.0,47697.0,45995.0,27781.0,30846.0,64048.0,61270.0,...,30780.0,12389.0,14078.0,5917.0,15651.0,5089.0,12652.0,3448.0,14961.0,3730.0
1,2015,Амурская область,5004.0,7929.0,19134.0,19802.0,8386.0,10888.0,24178.0,23140.0,...,10335.0,4120.0,2143.0,807.0,4676.0,1485.0,1398.0,401.0,3377.0,902.0
2,2015,Архангельская область,2311.0,4630.0,26143.0,28190.0,5302.0,9942.0,37864.0,38082.0,...,20064.0,7394.0,4608.0,1531.0,10590.0,3084.0,3173.0,759.0,8691.0,1942.0
3,2015,Астраханская область,10675.0,10896.0,21537.0,24250.0,14103.0,15174.0,29377.0,29938.0,...,16122.0,7014.0,3730.0,1545.0,7631.0,2887.0,2727.0,846.0,8083.0,2530.0
4,2015,Белгородская область,12669.0,12787.0,34484.0,32170.0,17712.0,19670.0,46538.0,44613.0,...,24619.0,10878.0,9180.0,3458.0,10131.0,3827.0,9716.0,2342.0,9973.0,2817.0

In [87]:
df_wide.to_csv("../data/hse_data/nes.csv", index=False)

In [89]:
import pandas as pd

# 1) Список всех PopD5a-колонок
pop_cols = [c for c in df.columns if c.startswith("PopD5a")]

# 2) Строим сводную таблицу с абсолютными значениями
pivot_abs = df.pivot_table(
    index=["Year", "Reg"],
    columns=["Group", "Sex"],
    values=pop_cols,
    aggfunc="sum"    # суммирует дубликаты
)

# 3) «Сплющиваем» многомерные имена колонок в формат PopD5aX_<Group>_<Sex>
pivot_abs.columns = [
    f"{pop}_{grp}_{sex}"
    for pop, grp, sex in pivot_abs.columns
]

# 4) Для каждого (Year, Reg) считаем общий итого-по-строке
row_totals = pivot_abs.sum(axis=1)

# 5) Делим каждую ячейку на соответствующий итого и получаем доли
pivot_frac = pivot_abs.div(row_totals, axis=0)

# 6) Возвращаем Year и Reg в столбцы
pivot_frac = pivot_frac.reset_index()

print(pivot_frac.head())

   Year                    Reg  PopD5a20_R_F  PopD5a20_R_M  PopD5a20_U_F  \
0  2015         Алтайский край      0.009831      0.011530      0.025680
1  2015       Амурская область      0.008149      0.012913      0.031161
2  2015  Архангельская область      0.002516      0.005040      0.028460
3  2015   Астраханская область      0.013661      0.013944      0.027562
4  2015   Белгородская область      0.010188      0.010282      0.027730

   PopD5a20_U_M  PopD5a25_R_F  PopD5a25_R_M  PopD5a25_U_F  PopD5a25_U_M  ...  \
0      0.024763      0.014957      0.016607      0.034483      0.032987  ...
1      0.032249      0.013657      0.017732      0.039376      0.037685  ...
2      0.030689      0.005772      0.010823      0.041220      0.041458  ...
3      0.031034      0.018048      0.019419      0.037595      0.038313  ...
4      0.025869      0.014243      0.015817      0.037423      0.035875  ...

   PopD5a75_U_F  PopD5a75_U_M  PopD5a80_R_F  PopD5a80_R_M  PopD5a80_U_F  \
0      0.016572      0.006670      0.007579      0.003186      0.008426
1      0.016831      0.006710      0.003490      0.001314      0.007615
2      0.021843      0.008049      0.005016      0.001667      0.011529
3      0.020632      0.008976      0.004773      0.001977      0.009766
4      0.019797      0.008747      0.007382      0.002781      0.008147

   PopD5a80_U_M  PopD5a85_R_F  PopD5a85_R_M  PopD5a85_U_F  PopD5a85_U_M
0      0.002740      0.006812      0.001856      0.008055      0.002008
1      0.002418      0.002277      0.000653      0.005500      0.001469
2      0.003357      0.003454      0.000826      0.009461      0.002114
3      0.003695      0.003490      0.001083      0.010344      0.003238
4      0.003077      0.007813      0.001883      0.008020      0.002265

[5 rows x 58 columns]